#navbar 
{
  text-align: center
}
#navbar li{
  display:inline-block;
  padding: 10px;
  font-size: 20px;
  border: 2px solid maroon;
  background-color: powderblue;
  color: powderblue;
}
#calculator
p {
    border: 1px solid powderblue;
}
