
#navbar
{
   text-align: center
}
#navbar li{
  display:inline-block;
  padding: 10px;
  font-size: 20px;
  border: 2px solid maroon;
  background-color: powderblue;
  color: powderblue;
}
  
#aboutme
{
  background-color:powderblue;
   width: 1080px;
    border: 25px solid maroon;
    padding: 100px;
    margin: 10px;
}
