#navbar
{
  background-color: black;
   text-align: center
}
#navbar li{
  display:inline-block;
  padding: 10px;
  font-size: 20px;
  border: 2px solid white;
  background-color: orange;
  color: white;
}