#navbar
{
   text-align: center
}
#navbar li{
  display:inline-block;
  padding: 10px;
  font-size: 20px;
  border: 2px yellow;
  background-color: yellow;
  color: yellow;
}
  
p {
   border-top-style:dotted; 
   border-top-color: white;
   border-bottom-style:dotted;
   border-bottom-color: white;
   border-right-style: dotted;
   border-right-color: white;
   border-left-style: dotted;
   border-left-color: white
 }
 
 fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}